.pending-homepage {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e3e3e3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 12px;
}

.homepage-block {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #1d3c91;
  color: white;
  margin: 15px 42px 15px 42px;
  padding: 15px;
}

.pending-details {
  font-weight: 900;
}

.homepage-block:hover {
  background-color: #172b63;
}